/*======================================================
DISC LOADER
======================================================*/

#discLoader{

    position:fixed;

    inset:0;

    background:rgba(15,18,32,.96);

    display:none;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    gap:35px;

    z-index:99999;

}

#discLoader.show{

    display:flex;

}

.loader-disc{

    width:210px;

    animation:

        discInsert .8s ease,

        discSpin 1.6s linear infinite;

}

@keyframes discInsert{

    from{

        transform:
            translateY(300px)
            scale(.4);

        opacity:0;

    }

    to{

        transform:
            translateY(0)
            scale(1);

        opacity:1;

    }

}

@keyframes discSpin{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

.loader-title{

    color:white;

    font-size:1.4rem;

    font-weight:bold;

}

.loader-subtitle{

    color:#d5d5d5;

}

.loader-progress{

    width:330px;

    height:12px;

    border-radius:999px;

    background:#555;

    overflow:hidden;

}

.loader-fill{

    width:0;

    height:100%;

    background:linear-gradient(

        90deg,

        #88A8D8,

        #D9B7D2

    );

    animation:loading 2.2s linear forwards;

}

@keyframes loading{

    to{

        width:100%;

    }

}